    {{> html}}

 <!--  Insert Header -->
    <!-- {{> header}} -->

<div role="document" class="page-wrapper">
<main role="main">

<section class="slide intro">
  <img class="logo" src="img/Pegasus-200b.png" alt="RedPony Logo">
  <h1 class="slide--title">RedPony Music</h1>
</section>

<section class="slide song-1">
  <h1 class="slide--title">My Checkered Future</h1>
  <p>Play:</p>

</section>







</main>

<!--FOOTER-->

    <!-- {{> footer}} -->

</div> <!-- End Page Wrapper -->

<!--Scripts and Closing HTML-->

    {{> html-end}}
