 <footer class="footer clearfix" role="contentinfo">


        <ul class="navigation__socialmedia">
                <li class="socialmedia--Twitter"><a href="#">Twitter
                </a></li>

                <li class="socialmedia--Facebook"><a href="#"><span>Facebook</span>
                </a></li>

                <li class="socialmedia--Youtube"><a href="#"><span>Youtube</span>
                </a></li>

                <li class="socialmedia--GooglePlus"><a href="#"><span>GooglePlus</span>
                </a></li>

                <li class="socialmedia--LinkedIn"><a href="#"><span>LinkedIn</span>
                </a></li>
        </ul>




         <div class="footer__utility clearfix">


             <p class="copyright">©2016 Redpony Music</p>
             </div>
    </footer>
