<header role="banner" class="banner nav-down">
  <a href="index.html"><h1 class="banner__site-name"><span>American Scientist</span></h1></a>

  <ul class="bmenu__list">
      <li class="bmenu__item bmenu--open"><a id="simple-menu" href="#sidr" class="bmenu--open">Open navigation
      </a></li>

      <li class="bmenu__item bmenu--search"><a href="#" class="bmenu--search">Search
      </a></li>
  </ul>

  <ul class="bmenu__list bmenu--onright">
    <li class="bmenu__item bmenu--help"><a href="index-rev.html" class="bmenu--help">Help
    </a></li>

    <li class="bmenu__item bmenu--login"><a href="#" class="bmenu--login">Login
    </a></li>
  </ul>

  </header>
