<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Redpony Music</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Website for Redpony Music, an independent purveyor of aural delicacies.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/selection-sharer.css" />

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="js/webfontloader.js"></script>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
